@import "vendor/normalize.css";
@import "vendor/font-awesome/scss/font-awesome.scss";
@import "_theme.scss";

body {
  background-color: #fff;
}

button {
  font-size: 1em;
  font-weight: 200;
  width: 80%;
  height: 80%;
  padding: 3%;
  margin: 10px auto;
  border: thin solid $app-purple-light;
  color: $app-purple-light;
  background-color: white;
  text-align: center;

  &:hover {
    color: $app-purple;
    border: thin solid $app-purple;
  }
}

input {
  border: none;
  border-bottom: thin solid $app-light-grey;
  margin: 5px;
  margin-left: 0px;
  font-weight: 200;
  width: 100%;

  &::-webkit-input-placeholder {
    color: $app-text-light;
    opacity: 1;
  }
  &:-moz-placeholder {
    color: $app-text-light;
    opacity: 1;
  }
  &::-moz-placeholder {
    color: $app-text-light;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: $app-text-light;
    opacity: 1;
  }
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
}

.form-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  max-height: 500px;
  padding: 30px;
  border: thin solid $app-light-grey;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

.form-group {
  padding: 10px;
  width: 100%;
  color: $app-light-grey;
}
