@import "_theme.scss";

.lrg-entry {
  margin: 10px;
  text-align: left;

  h1 {
    font-weight: 200;
    text-transform: capitalize;
    color: $app-purple;
    text-align: center;
  }

  p {
    text-align: left;
  }
}
