@import "_theme.scss";

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  height: 100px;
  margin: 10px;
  border-bottom: thin solid $app-grey;
  width: 100;
  padding: 10px;

  .nav-bar-logo {
    width: 300;
    height: auto;
  }

  img {
    width: auto;
    height: 100px;
  }

  .create-new {
    width: 25%;
    color: $app-purple-light;

    &:hover {
      i {
        color: $app-green;
      }

      color: $app-green;
      border: 2px solid $app-green;
    }
  }


  .signout {
    border: 0;
    color: $app-text-light;
    width: 150px;
    height: 75px;
    margin: auto;

  }

  .fa-plus {
    color: $app-purple-light;
    padding-right: 15px;
  }
}
