@import "_theme.scss";

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  margin: 0px;
  border-bottom: thin solid $app-grey;
  width: 100;
  padding: 10px;

  .nav-bar-logo {
    margin: 5px;
    width: 35%;
    height: auto;
  }

  img {
    width: auto;
    height: 100px;
  }

  .create-new {
    margin-right: 5px;
    margin-left: 5px;
    width: 30%;
    padding: 5px;
    color: $app-purple-light;

    &:hover {
      i {
        color: $app-green;
      }

      color: $app-green;
      border: 2px solid $app-green;
    }
  }

  .signout {
    border: 0;
    color: $app-text-light;
    width: 30%;
    margin: auto;
    text-align: right;
  }

  .fa-plus {
    color: $app-purple-light;
    padding-right: 15px;
  }
}
