<div ng-init="createPostCtrl.getEntries()">
  <form class="create-post" novalidate ng-submit="createPostCtrl.createEntry()" >
    <div class="form-group">
      <!-- <label for="post-title">TITLE:</label> -->
      <input class="create-post-title" type="text" name="post-title" value="Title" placeholder="Post Title" ng-model="createPostCtrl.post.title">
    </div>
    <div class="form-group">
      <!-- <label for="post-body">BODY:</label> -->
      <textarea name="post-body" value="Body" placeholder="Start Your Post Here" rows="20" ng-model="createPostCtrl.post.body"></textarea>
    </div>

    <button class="create-post" type="submit">Create Post</button>
  </form>
</div>
