<div class="entry-list" ng-init="entryListCtrl.getEntries()">
  <ramble-entry-list-item ng-hide="entryListCtrl.showAll" ng-repeat = "entry in entryListCtrl.list | limitTo :entryListCtrl.limit" entry = "entry"></ramble-entry-list-item>

  <ramble-entry-list-item ng-hide="!entryListCtrl.showAll"ng-repeat = "entry in entryListCtrl.list" entry = "entry"></ramble-entry-list-item>

  <button class="btn" href="#" ng-click="entryListCtrl.loadMore()">Load More</button>
  <button class="btn" href="#" ng-click="entryListCtrl.loadAll()">Load All</button>
  <button class="btn" href="#" ng-click="entryListCtrl.loadLess()">Load Less</button>
</div>
